<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading text-muted">A bit of history...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>365 million years ago</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first vertebrate crawls out of the ocean</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 1942</h4>
                                    <h4 class="subheading">Jimi Hendrix is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Johnny Allen Hendrix, a.k.a. Jimi Hendrix, crawls out of the ashes of the Great War</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 1985</h4>
                                    <h4 class="subheading">Love at first sight</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mikka picks up her first camera</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2006</h4>
                                    <h4 class="subheading">Love at first flight</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Zak flies his first RC plane</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2015</h4>
                                    <h4 class="subheading">Flying Piggy established</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Flying Piggy flies around the world to shoot aerial images</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
