<!-- Portfolio Grid Section -->
    <section class="portfolio" id="aerial drone video portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Portfolio</h1>
                    <h3 class="section-subheading text-muted">{{ A smattering of our work. }}.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-lg-12 portfolio-item">
                    <div class='vimeo-container'>
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ post.youtube-id }}?rel=0&amp;&amp;showinfo=0&amp;vq=hd1080&amp;rel=0&amp;theme=light&amp;color=white&amp;autohide=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
