<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Aerial Video Production Services</h1>
                    <h3 class="section-subheading text-muted">Aerial, drone, UAV, UAS. Whatever you call 'em, we fly these things to shoot photos and videos from the air.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aerial Videography</h4>
                    <p class="text-muted">Aerial video services for real-estate, weddings, film, TV etc... We have multiple drones that carry cameras ranging from the latest GoPro to full-frame DSLR and mirrorless cameras. All of our cameras are stabilized using 3-axis brushless gimbals, ensuring perfectly smooth shots in all weather conditions and flight patterns.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aerial Photography</h4>
                    <p class="text-muted">Aerial photography for real estate, events, surveying construction sites, mapping, bacon, etc.. Whether you are trying to help a newly engaged couple pick a wedding venue in Napa or track the construction progress on the latest real-estate development in San Francisco we've got you covered.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Drone</h4>
                    <p class="text-muted">A mix of any of the above and more, including video and photo post-production services from our partner <a href="http://purplesquirreldesigns.com">Purple Squirrel Designs</a>. Do you want to fly your own drone? We'll build an aerial platform to suit your unique needs.</p>
                </div>
            </div>
        </div>
    </section>
